.contacts__wrapper {
  position: relative;
}

.contacts__description {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  max-width: 140px;
  white-space: pre-line;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 130%;
    max-width: 163px;
  }
}

.contacts__address {
  font-weight: 400;
  line-height: 143%;
  color: $special_dark-grey;
  max-width: 140px;
  font-style: normal;

  @media (min-width: $tablet-width) {
    line-height: 125%;
    text-align: right;
    white-space: pre-line;
    max-width: 157px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__group {
  padding: 26px 20px;
  display: flex;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 565px;
    min-height: 200px;
    display: flex;
    align-items: center;
    gap: 87px;
    justify-content: center;
    background-color: #ffffff;
    left: 111px;
    top: 50%;
    transform: translateY(-53%);
  }
}

.contacts__map {
  display: flex;

  img {
    width: 320px;
    height: 362px;
    object-fit: cover;

    @media (min-width: $tablet-width) {
      width: 768px;
      height: 400px;
    }

    @media (min-width: $desktop-width) {
      width: 1440px;
      min-height: 400px;
    }
  }
}
