.copyright {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
}

.copyright__links {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: $special_dark-grey;
  text-decoration: none;
}

