.example {
  background-color: #eaeaea;
  padding: 25px 0 40px;

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 224px;
  }
}

.example__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 111%;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 100%;
  }
}

.example__description {
  font-weight: 400;
  color: $special_dark-grey;
}

.example__number {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: #000000;
  padding: 14px 5px 8px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 123%;
  }
}

.example__item {
  width: 124px;
  min-height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 162px;
    min-height: 77px;
  }
}


.example__result {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: $special_dark-grey;
  margin: 0 0 -15px;
  max-width: 77px;
  padding: 0 5px;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    max-width: 142px;
    margin: 0 0 -6px;
    padding: 0 8px;
  }
}

.example__price {
  font-family: $secondary-font;
  font-weight: 400;
  line-height: 143%;
  text-transform: uppercase;
  text-align: center;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    max-width: 175px;
    text-align: end;
    min-height: 77px;
    line-height: 150%;
  }

  @media (min-width: $desktop-width) {
    max-width: max-content;

    span {
      padding-left: 64px;
    }
  }
}

.example__picture {
  display: flex;
}

.example__slider {
  display: flex;
  position: relative;
  justify-content: center;
}

.example__button {
  width: 4px;
  height: 100%;
  background-color: #666666;
  display: block;
  border-radius: 2px;
  cursor: pointer;
  position: absolute;
  padding: 0;
  left: 50%;
  transform: translate(-50%, 0);

  &::before {
    content: "";
    border: 2px solid #666666;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
  }

  &::after {
    content: "";
    mask-image: url("../../icons/stack.svg#slider");
    background-color: #666666;
    width: 24px;
    height: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    background-color: #68b738;
    transition: 0.4s;

    &::before {
      border-color: #68b738;
      transition: 0.4s;
    }

    &::after {
      background-color: #68b738;
      transition: 0.4s;
    }
  }

  &:active {
    background-color: #5eaa2f;
    transition: 0.4s;
    opacity: 0.6;

    &::before {
      border-color: #5eaa2f;
      transition: 0.4s;
    }

    &::after {
      background-color: #5eaa2f;
      transition: 0.4s;
    }
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 34px;

  @media (min-width: $tablet-width) {
    gap: 43px;
  }

  @media (min-width: $desktop-width) {
    gap: 42px;
  }
}


.example__group {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}
