.footer__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 240px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    min-height: 147px;
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    min-height: 169px;
  }
}

.footer__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px 0 19px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: auto;
    border: none;
    padding: 0;
  }

  &:hover svg path {
    fill: #3e3e3e;
    transition: 0.4s;
  }

  &:active svg path {
    fill: #6b6b6b;
    transition: 0.4s;
  }
}
