.header {
  color: #ffffff;
  z-index: 1;
  position: relative;
  padding: 13px 0 14px;

  @media (min-width: $tablet-width) {
    padding: 25px 0 64px;
  }

  @media (min-width: $desktop-width) {
    margin: 55px 0 29px;
    padding: 0;
  }

  &--secondary {
    border-bottom: 1px solid #d9d9d9;

    @media (min-width: $tablet-width) {
      border: none;
    }

    @media (min-width: $desktop-width) {
      margin: 55px 0 73px;
    }
  }
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-items: normal;
  }
}

.header__burger {
  background: transparent;
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
  border: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }

  span {
    width: 100%;
    height: 2px;
    background-color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;

    &:nth-child(1) {
      transform: translate(-50%, calc(-50% - 8px));
    }

    &:nth-child(3) {
      transform: translate(-50%, calc(-50% + 8px));
    }
  }

  &.is-active {
    span {
      width: 100%;
      height: 2px;
      background-color: #000000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.4s ease;

      &:nth-child(1) {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:nth-child(2) {
        width: 0;
      }

      &:nth-child(3) {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}

.header__logo {
  width: 33px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }

  &:hover {
    opacity: 0.8;
    transition: 0.4s;
  }

  &:active {
    opacity: 0.6;
    transition: 0.4s;
  }

  picture {
    display: flex;
  }
}


.header__logo-text {
  width: 101px;
  height: 20px;
  margin: 0 10px 0 0;

  @media (min-width: $tablet-width) {
    display: none;
    margin: 0;
  }

  &:hover {
    opacity: 0.8;
    transition: 0.4s;
  }

  &:active {
    opacity: 0.6;
    transition: 0.4s;
  }

  &--catalog {
    margin: 6px 10px 0 0;
  }
}
