.line-wrapper {
  position: relative;
  margin-right: -20px;

  h2 {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #000000;
    padding-right: 40px;
    background-color: #ffffff;
    width: max-content;

    @media (min-width: $tablet-width) {
      font-size: 32px;
      padding-left: 40px;
    }

    @media (min-width: $desktop-width) {
      font-size: 40px;
    }
  }

  &::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #68b738;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}
