.main__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    font-size: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}
