.product-card {
  padding: 19px 20px 0;
  min-height: 209px;
  border-top: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    padding: 10px 37px 40px;
    max-width: 324px;
  }
}

.product-card--end {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 77px 20px 23px;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    margin-top: 0;
    padding-top: 120px;
    border: none;
  }
}

.product-card__name {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #222222;
  max-width: 76px;
  margin: 1px 0 15px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    max-width: 135px;
  }
}

.product-card__group {
  display: flex;
  justify-content: space-between;
  min-height: 16px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  p {
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    text-align: center;
    color: $special_dark-grey;
    margin: 0;

    @media (min-width: $tablet-width) {
      line-height: 125%;
      text-align: center;
    }
  }
}

.product-card__group--end {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 170px;
  }
}

.product-card__name--end {
  color: #111111;
  max-width: 220px;
  position: relative;
  text-align: center;
  margin: 0 0 9px;

  @media (min-width: $tablet-width) {
    margin: 23px 0;
  }

  &::before {
    content: "";
    background-image: url("../../icons/stack.svg#plus-icon");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 43px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      top: -50px;
      background-image: url("../../icons/stack.svg#plus-tablet");
      transform: translate(-50%, -100%);
      background-size: 60px 60px;
      width: 60px;
      height: 60px;
    }

    @media (min-width: $tablet-width) {
      top: -40px;
    }
  }
}

.product-card__description {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: $special_dark-grey;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 112%;
    margin: 0 0 82px;
  }
}

.product-card__button--end {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  cursor: pointer;

  &:hover {
    background-color: #ebebeb;
    transition: 0.4s;
  }

  &:active {
    background-color: #ebebeb;
    transition: 0.4s;
  }

  p {
    color: $special_dark-grey;
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    margin: 0 2px 0 0;
  }
}

.product-card__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 17px;


  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  picture {
    display: flex;
  }

  picture img {
    object-fit: cover;
    width: 140px;
    height: 107px;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 210px;
    }

    @media (min-width: $desktop-width) {
      width: 169px;
      height: 210px;
    }
  }
}

.product-card__info {
  @media (min-width: $tablet-width) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
  }
}

