.social {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
  padding: 20px 0 19px;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;
  list-style: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    max-width: 132px;
    border: none;
    padding: 0;
    margin-left: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 34px;
  }
}


.social__link {
  display: flex;
  cursor: pointer;

  &:hover svg path {
    fill: #68b738;
    transition: 0.4s;
  }

  &:active svg path {
    fill: #68b738;
    transition: 0.4s;
    opacity: 0.3;
  }
}
